.container {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 500px;
    width: 500px;
    background-color: lightblue;
    margin: 0 auto;
}

.item {
    width: 150px;
    height: 150px;
    background-color: tomato;
    margin: 5px;
    color: white;
    text-align: center;
}